@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Oxygen+Mono&family=Signika+Negative:wght@300;400;700&display=swap');
/*
  Cabin - 700
  Oxygen Mono - 400
  Signika Negative - 300, 400, 700
*/
* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background-color: #19042c;
}
::-webkit-scrollbar-thumb {
  background-color: #f2f2f2;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  font-family: 'Signika Negative';
  font-weight: 300;
  color: #f2f2f2;
  font-size: 18px;
  line-height: 1.6;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: rgb(25, 4, 44);
  background: -moz-linear-gradient(
    145deg,
    rgba(25, 4, 44, 1) 20%,
    rgba(41, 8, 68, 1) 43%,
    rgba(51, 8, 49, 1) 51%,
    rgba(49, 13, 83, 1) 72%,
    rgba(25, 0, 48, 1) 88%
  );
  background: -webkit-linear-gradient(
    145deg,
    rgba(25, 4, 44, 1) 20%,
    rgba(41, 8, 68, 1) 43%,
    rgba(51, 8, 49, 1) 51%,
    rgba(49, 13, 83, 1) 72%,
    rgba(25, 0, 48, 1) 88%
  );
  background: linear-gradient(
    145deg,
    rgba(25, 4, 44, 1) 20%,
    rgba(41, 8, 68, 1) 43%,
    rgba(51, 8, 49, 1) 51%,
    rgba(49, 13, 83, 1) 72%,
    rgba(25, 0, 48, 1) 88%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#19042c",endColorstr="#190030",GradientType=1);
}
.box {
  background-color: #060606;
  width: 75vw;
  margin: 0 auto;
}
.contentInBox {
  width: 100%;
  margin-top: 12vh;
  min-height: 100vh;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.2rem;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
    line-height: 1.5;
  }
  .box {
    width: 95vw;
  }
  .contentInBox {
    margin-top: 10vh;
  }
}
